<div class="form-group">
    <label for="name">Do you have Children?</label>
  </div>
<div class="onoffswitch" >
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-model='formData.childrenYesNo' checked >
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">

    <a ui-sref="form.noOfchildren" class="btn btn-block btn-info" ng-show='formData.childrenYesNo' ng-disabled="calc-form.$invalid"  popover="email, no. of tickets and loation are required fields" popover-trigger="mouseenter"
                popover-placement="left">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    <a ui-sref="form.debt" class="btn btn-block btn-info" ng-show='!formData.childrenYesNo'  ng-disabled="calc-form.$invalid"  popover="email, no. of tickets and loation are required fields" popover-trigger="mouseenter"
                popover-placement="left">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>