<div>
 Based upon the options you selected below:
 <div>1. You are paying <span>{{formData.type}}</span> </div>
 <div>2. You pay <span>{{formData.mortgagePay|currency}}</span> as <span>{{formData.type}}</span> </div>
 <div>3. You have <span>{{formData.childrenCount}}  </span> children </div>
 <div>4. You have <span>{{formData.debt |currency}} </span> out standing debt</div>

 <div>
   Result is <span>{{formData.coverAmountCalculation|currency}} </span>
 </div>
 <div class="text-center">
    <span class="glyphicon glyphicon-heart"></span>
    <h3> Thank you for using our calcualtor!</h3>
    
  
</div>

</div>